<h1 class="input">Just a Test</h1>
<form [formGroup]="inputForm">
<div class="input">
  <mat-form-field appearance="fill">
  <input matInput placeholder="Schreib mal was!"
         [formControl]="input"
  >
  </mat-form-field>
  <div class="button">
    <button type="button" class="submit-button" mat-raised-button color="primary" [disabled]="input.invalid" (click)="onClick()">Abschicken</button>
  </div>
  <br>
  <button type="button" class="submit-button" mat-raised-button color="primary" (click)="onClick2()">Holen</button>
</div>
</form>
<ul class="list">
    <li *ngFor="let post of loadedPosts">
      <p>{{post.id}}</p>
      <p>{{post.input}}</p>
    </li>
  </ul>
